* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  width: 100%;
  padding: 2rem;
  /* display: flex;
  justify-content: center;
  align-items: center; */

}

.image{
  height: 100px;
  width: 110px;
  object-fit: cover;
}

em.error {
    color: red;
    padding-top: 5px;
}

.error-input{
    border-color: red;
}